<h1>{{ section.settings.heading }}</h1>

{% schema %}
{
  "name": "Slick slider products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading label",
      "default": "Default heading label"
    }
  ],
  "presets": [
    {
      "name": "Slick slider products"
    }
  ]
}
{% endschema %}
