<h1>{{ section.settings.heading }}</h1>
<div class="customContainer">
  {% for block in  section.blocks %}
    <div class="customContainer__slide">
      <h2 class="customContainer__title">{{ block.settings.title }}</h2>
      <div class="customContainer__image">
        <img/>
      </div>

      <p>text abou</p>
    </div>
  {% endfor %}
</div>
<style>
  .customContainer {
    display: flex;
    padding: 1em;
    gap: 1em;
  }

  .customContainer__slide {
    padding: 1em;
    box-shadow: 0px 10px 13px -7px #888686,
    0px -1px 23px -3px rgba(125, 123, 123, 0.52);
  }

  .customContainer__image {
    width: 10vw;
  }
</style>

{% schema %}
{
  "name": "Slick slider products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading label",
      "default": "Default heading label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "product-slide",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Product Title",
          "default": "Default Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slick slider products"
    }
  ]
}
{% endschema %}
