* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #fff !important;
    font-family: sans-serif;
    color: black;
    padding: 60px 0;
}
li {
    list-style: none;
}
.width {
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-column h2 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer-column p,
.footer-column a {
    color: #666;
}

a {
    text-decoration: none;
}
.footer-column a {
    transition: 0.2s color;
}
.footer-column a:hover {
    color: #111;
}

.footer-column li + li {
    margin-top: 10px;
}

.footer-column.footer-column--news form {
    margin-top: 20px;
}
.footer-column.footer-column--news input {
    appearance: none;
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    line-height: 50px;
    padding: 0 16px;
}
.footer-column.footer-column--news button {
    appearance: none;
    display: inline-block;
    background-color: #111;
    line-height: 50px;
    border: 1px solid #111;
    padding: 0 32px;
    color: white;
    margin-top: 10px;
    transition: 0.2s color, 0.2s background-color, 0.2s border-color;
}
.footer-column.footer-column--news button:hover {
    background-color: #323232;
    cursor: pointer;
}

.footer-copyright {
    margin-top: 40px;
}

@media (min-width: 960px) {
    .footer-top {
        flex-direction: row;
        gap: 60px;
    }

    .footer-cards {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}