/*
  FAQ page
*/

.faq-page {
    padding: 60px 0;
    background-color: #fff;
}

.faq-page-width {
    max-width: 500px;
    margin: 0 auto;
    width: calc(100% - 40px);
}

.faq-page-header {
    padding-bottom: 30px;
}

.faq-page-header h1 {
    font-size: 44px;
    margin-bottom: 10px;
}

.faq-page-header-content {
    font-size: 21px;
}

.faq-page-category {
    text-transform: uppercase;
    opacity: 0.4;
    font-size: 14px;
    margin-bottom: 10px;
}

.faq-page-question + .faq-page-category {
    margin-top: 30px;
}

.faq-page-question {
    border-bottom: 1px solid #ddd;
}

.faq-page-question-header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.faq-page-question-header h3 {
    font-size: 18px;
    flex: 1;
}

.faq-page-question-header svg {
    width: 36px;
    transition: 0.2s transform;
}

.faq-page-question.active .faq-page-question-header svg {
    transform: rotate(180deg);
}

.faq-page-question-body {
    max-height: 0;
    overflow: hidden;
    transition: 1s max-height;
}

.faq-page-question.active .faq-page-question-body {
    max-height: 400px;
}

.faq-page-question-body-inner > * + * {
    margin-top: 20px;
}

.faq-page-question-body-inner {
    padding-bottom: 20px;
}